name = "GEDIGEOLOC"
uuid = "6ff09953-5a54-4fc5-8fe4-420e6b0f022f"
authors = ["paulmay <paul.may@sdsmt.edu> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
